@charset "UTF-8";

/* 回答はここに書いてね */
.q2-box {
  width: 940px;
  margin: auto;
  background-color: #eff3f4;
  padding: 20px;
}

.q2-box-text {
  font-size: 18px;
  line-height: 22px;
  word-wrap: break-word;
}

.q2-box-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.q2-box-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 回答はここに書いてね */
