@charset "UTF-8";

/* 回答はここに書いてね */
.table-box {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.table-contents:first-child {
  margin-top: 0px;
}

.table-contents {
  margin-top: 20px;
  display: table;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.t-cell {
  padding: 20px;
  display: table-cell;
}

.top-left {
  background-color: #fdc8b8;
  width: 100px;
}

.top-center {
  background-color: #e0abd9;
}

.top-right {
  background-color: #b6d8ed;
  width: 100px;
}

.bottom-left {
  background-color: #e5d32e;
}

.bottom-center {
  background-color: #ec8f9a;
}

.bottom-right {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
