@charset "UTF-8";

/* 回答はここに書いてね */
table {
  margin: auto;
  width: 100%;
  table-layout: fixed;
}

table th {
  padding: 10px;
  color: white;
  background: #2244AA;
  padding: 10px;
  border: solid 1px #dedede;
}

table td{
  text-align: center;
  padding: 10px;
  border: solid 1px #dedede;
}

table tr td:first-child {
  color: white;
  background: #2244AA;
} 

table tr:nth-child(odd){
  background: #ecf1f2;
}

table tr:last-child {
  border-top: dashed 2px #000;
}

/* 回答はここに書いてね */
