@charset "UTF-8";

/* 回答はここに書いてね */
.q3-table {
  margin: auto;
  width: 100%;
  table-layout: fixed;
}

.q3-table th {
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  color: white;
  background: #2244AA;
  padding: 10px;
  border: solid 1px #dedede;
}

.q3-table td{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  border: solid 1px #dedede;
}

.q3-table tr td:first-child {
  color: white;
  background: #2244AA;
} 

.q3-table tr:nth-child(odd){
  background: #ecf1f2;
}

.q3-table tr:last-child {
  border-top: dashed 2px #000;
}

/* 回答はここに書いてね */
